<h4 class="font-medium mb-3">The laboratories</h4>
<div class="d-flex justify-content-between align-items-center mb-3">
  <button class="btn btn-primary" (click)="navigateToAddLabo()">Add New Labo</button>
</div>

<div class="row">
  <div class="col-lg-3 col-md-6" *ngFor="let labo of labos">
    <div class="card">
      <img class="card-img-top img-responsive" [src]="labo.image" alt="Card image cap" />
      <div class="card-body">
        <h4 class="card-title">{{ labo.title }}</h4>
        <p class="card-text">{{ labo.description }}</p>
        <div class="d-flex justify-content-between">
          <button class="btn btn-danger" (click)="deleteLabo(labo.id)">Delete</button>
          <button class="btn btn-primary" (click)="showLaboDetails(labo.id)">Details</button>
        </div>
      </div>
    </div>
  </div>
</div>
