<form class="row g-3">
  <div class="col-md-12">
    <label for="inputEmail4" class="form-label">Nom</label>
    <input type="text" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-12">
    <label for="inputEmail4" class="form-label">Prenom</label>
    <input type="text" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>
  <div class="col-6">
    <label for="inputAddress" class="form-label">Telephone</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="col-md-12">
    <label for="inputState" class="form-label">Projet</label>
    <select id="inputState" class="form-select">
      <option selected>Projet 1</option>
      <option>Projet 2</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="formFile" class="form-label">Image</label>
    <input class="form-control" type="file" id="formFile">
  </div>
  <div class="col-md-12">
    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword4">
  </div>


  <div class="col-6">
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
</form>
