<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">Tableau des dotations</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-wrap">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Dotation ID</th>
                <th>Type de dotation</th>
                <th>Member</th>
                <th>Montant</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1001</th>
                <td>Mark Otto</td>
                <td>Japan</td>
                <td>$3000</td>
                <td><a href="#" class="btn btn-success">mz fiha</a></td>
              </tr>


              <tr>
                <th scope="row">1001</th>
                <td>Mark Otto</td>
                <td>Japan</td>
                <td>$3000</td>
                <td><a href="#" class="btn btn-danger">Salat lih</a></td>
               </tr>
            </tbody>

          </table>

          <button class="btn btn-primary" (click)="navigateToAddDotation()">Add New Dotation</button>

        </div>
      </div>
    </div>
  </div>
</section>
