<form class="row g-3">
  <div class="col-md-12">
    <label for="inputEmail4" class="form-label">title</label>
    <input type="text" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-12">
    <label for="inputEmail4" class="form-label">description</label>
    <input type="text" class="form-control" id="inputEmail4">
  </div>
  <div class="mb-3">
    <label for="formFile" class="form-label">Image</label>
    <input class="form-control" type="file" id="formFile">
  </div>
   <div class="col-6">
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
</form>

