<h4 class="font-medium mb-3">Projects</h4>
<!-- Row -->
<div class="row">
  <!-- column -->
  <div class="col-lg-3 col-md-6">
    <!-- Card -->
    <!-- ---------------------
                      start Card title
                  ---------------- -->
    <div class="card">
      <img
        class="card-img-top img-responsive"
        src="assets/images/bg/bg1.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h4 class="card-title">Projet 1</h4>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="javascript:void(0)" class="btn btn-primary">Read More</a>
      </div>
    </div>
    <!-- ---------------------
                      end Card title
                  ---------------- -->
    <!-- Card -->
  </div>
  <!-- column -->
  <div class="col-lg-3 col-md-6">
    <!-- Card -->
    <!-- ---------------------
                      start Card title
                  ---------------- -->
    <div class="card">
      <img
        class="card-img-top img-responsive"
        src="assets/images/bg/bg2.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h4 class="card-title">Projet 2</h4>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="javascript:void(0)" class="btn btn-primary">Read More</a>
      </div>
    </div>
    <!-- ---------------------
                      end Card title
                  ---------------- -->
    <!-- Card -->
  </div>
  <!-- column -->
  <div class="col-lg-3 col-md-6">
    <!-- Card -->
    <!-- ---------------------
                      start Card title
                  ---------------- -->
    <div class="card">
      <img
        class="card-img-top img-responsive"
        src="assets/images/bg/bg3.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h4 class="card-title">Projet 3</h4>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="javascript:void(0)" class="btn btn-primary">Read More</a>
      </div>
    </div>
    <!-- ---------------------
                      end Card title
                  ---------------- -->
    <!-- Card -->
  </div>
  <!-- column -->
  <div class="col-lg-3 col-md-6">
    <!-- Card -->
    <!-- ---------------------
                      start Card title
                  ---------------- -->
    <div class="card">
      <img
        class="card-img-top img-responsive"
        src="assets/images/bg/bg4.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h4 class="card-title">Projet 4</h4>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="javascript:void(0)" class="btn btn-primary">Read More</a>
      </div>
    </div>
    <!-- ---------------------
                      end Card title
                  ---------------- -->
    <!-- Card -->
  </div>
</div>
<!-- Row -->




