<h4 class="font-medium mb-3">Projects</h4>
<div class="d-flex justify-content-between align-items-center mb-3">
  <button class="btn btn-primary" (click)="navigateToAddProject()">Add New Project</button>
</div>

<!-- Table -->
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>School</th>
      <th>Labo</th>
      <th>Responsable</th>
      <th>Members</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projects">
      <td>{{ project.title }}</td>
      <td>{{ project.school }}</td>
      <td>{{ project.labo }}</td>
      <td>
        <div>{{ project.members[0].name }}</div>
      </td>
      <td>
        <div class="members-container">
          <div class="member" *ngFor="let member of project.members | slice:0:6">
            <img class="member-image" [src]="member.image" alt="{{ member.name }}">
            <div class="member-hover">{{ member.name }}</div>
          </div>
          <div class="member" *ngIf="project.members.length > 6">
            <span class="remaining-members">+{{ project.members.length - 6 }}</span>
          </div>
        </div>
      </td>
      
      <td>
        <div class="d-flex ">
          <button class="btn btn-danger" (click)="deleteProject(project.id)">Delete</button>
          <button class="btn btn-primary ms-3" (click)="modifyProject(project.id)">Modify</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

