<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Members & Projects</h4>
        <h5 class="card-subtitle text-muted">Information about the members</h5>
        <button class="btn btn-primary" (click)="navigateToAddMember()">Add New Member</button>
        <div class="table-responsive">
          <table class="table align-middle text-nowrap">
            <thead>
              <tr>
                <th class="text-dark font-medium fs-4">Member name</th>
                <th class="text-dark font-medium fs-4">Projects</th>
                <th class="text-dark font-medium fs-4">Email</th>
                <th class="text-dark font-medium fs-4">Phone</th>
                <th class="text-dark font-medium fs-4">Dotation</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let member of members">
                <td>
                  <div class="d-flex align-items-center">
                    <img [src]="member.image" alt="user" width="45" class="rounded-circle">
                    <div class="ms-3">
                      <h5 class="mb-0 font-medium">{{ member.uname }}</h5>
                    </div>
                  </div>
                </td>
                <td class="fs-4">
                  <ul>
                    <li *ngFor="let project of member.projects; let i = index" [ngClass]="{'d-none': i >= 3}">
                      {{ project.title }}
                    </li>
                    <li *ngIf="member.projects.length > 3" class="text-muted">
                      ... and {{ member.projects.length - 3 }} more
                    </li>
                  </ul>
                </td>
                <td>
                  <span class="text-muted">{{ member.gmail }}</span>
                </td>
                <td>
                  <h5 class="mb-0 fw-normal">{{ member.phone }}</h5>
                </td>
                <td>
                  <h5 class="mb-0 fw-normal">{{ member.budget }}</h5>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
      </div>
    </div>
  </div>
</div>
